.first-form {
    position: absolute;
    width: 293px;
    height: 48px;
    border-radius: 8px;
    border: solid 1px #91969f;
    background-color: #fff9f9;
    top: 40px;
    left: 50px  
}

.placeholder {
    padding-left: 16px;
}
.form {
    display:flex;
    flex-direction: column;
}
.icons{
    padding-left: 27px;
}

.finder {
    display:flex;
    flex-direction: column;
    width: 375px;
    height: 200px;
    background-color: #fffcfc;  
}

.div-first {
   padding-top: 30px;
   padding-bottom: 8px;
}

.div-second {
    padding-bottom: 20px;
}

.div-third{
    padding-left: 170px
}
.ubication{
    width: 293px;
    height: 48px;
    padding-left: 16px;
    border-radius: 8px;
    border: solid 1px #91969f;
    background-color: #fff9f9;
}

.destiny{
    width: 293px;
    height: 48px;
    padding-left: 16px;
    border-radius: 8px;
    border: solid 1px #91969f;
    background-color: #fff9f9;
}
.button-go-to-destiny{
    width: 120px;
    height: 28px;
    border-radius: 8px;
    background-color: #ff1833;
}
.button-go-to-destiny-p{
    margin: 0;
    height: 16px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.75px;
    color: #fff9f9;
}