.first-page {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border: black 5px solid;
}
.logo {
    width: 300px;
    height: 400px;
}
