.leaflet-marker-icon leaflet-zoom-animated leaflet-interactive leaflet-marker-draggable {
    display: none;
}

.leaflet-marker-icon leaflet-zoom-animated leaflet-interactive leaflet-marker-draggable {
    display: none
}

g {
    display: none;
}