.form-page{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.form {
    position: absolute;
}
leaflet-top leaflet-left{
    display: none
}

leaflet-control-zoom leaflet-bar leaflet-control {
    display: none
}
.map-box {
    width: 375px;
    height: 667px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
}
.help{
    position: absolute;
    top: 108px;
    left: 307px
}.button-alert {
    width: 320px;
    height: 52px;
    border-radius: 16px;
    background-color: #ff1833;
    position: absolute;
    top: 567px;
    left: 27px;
    display: flex;
    flex-direction: center;
    align-items: center;

}
.button-alert-div{
    display: flex;
    flex-direction: center;
    align-items: center;
    padding-left: 90px;
}
.button-alert-img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.button-alert-p {
    padding: 16px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.75px;
    color: #fff9f9;    
    margin: 0
}
.leaflet-routing-alternatives-container{
    display: none;
}
.help {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.help:hover {
    width: 32px;
    height: 32px;
    object-fit: contain;    
}

