.third-page {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  

}
.form-page{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
